# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# IDE / editor files
.vscode/
.idea/

# Data files
*.csv
*.tsv
*.pkl
*.h5

# Logs
*.log

# MacOS files
.DS_Store
